langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
langchain-text-splitters
langchain_classic
pypdf
langchain_huggingface
sentence-transformers
chromadb
langchain_groq
arxiv
wikipedia
ddgs
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube